body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

header {
    background-color: #5f0000;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5em;
}

.navbar {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
}

.menu a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
}

.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.sidebar {
    display: none;
    flex-direction: column;
    background-color: #5f0000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 200px;
    padding-top: 60px;
    z-index: 1;
}

.sidebar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .hamburger-menu {
        display: flex;
    }

    .sidebar {
        display: none;
    }
}



